/* header bar */
/* line 7, ../scss/_header.scss */
.header-bar {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 112px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #b6bcc1;
  background-color: #FFFFFF;
}
/* line 18, ../scss/_header.scss */
.header-bar .logo-div {
  position: relative;
  display: inline-block;
  height: 100%;
}
/* line 23, ../scss/_header.scss */
.header-bar .logo-div .Ludo-logo-div {
  position: absolute;
  display: inline-block;
  width: 200px;
  height: 100%;
  padding: 18px 0px 18px 14px;
}
/* line 30, ../scss/_header.scss */
.header-bar .logo-div .Ludo-logo-div .Ludo-logo {
  height: 63px;
  z-index: 2;
}
/* line 34, ../scss/_header.scss */
.header-bar .logo-div .Ludo-logo-div .Ludo-logo-text {
  font-size: 130%;
  font-weight: 500;
  font-family: arial;
  color: #000000;
}
/* line 42, ../scss/_header.scss */
.header-bar .logo-div .schematic-icon-div {
  position: relative;
  display: inline-block;
  left: 200px;
  height: 100%;
  width: 65px;
  padding: 20px 0px 35px 0px;
}
/* line 50, ../scss/_header.scss */
.header-bar .logo-div .schematic-icon-div .schematic-icon-text {
  font-size: 60%;
}
/* line 53, ../scss/_header.scss */
.header-bar .logo-div .schematic-icon-div .schematic-icon {
  height: 40px;
  width: 40px;
  margin: 0 auto;
  border-style: solid;
  border-width: 1px;
  border-color: #D8DDE4;
  border-radius: 50%;
  background-color: #FFFC79;
  background-image: url("../images/playground_icon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
/* line 70, ../scss/_header.scss */
.header-bar .rate-div {
  position: relative;
  display: inline-block;
  right: 0;
  float: right;
  height: 100%;
  width: 50%;
}
/* line 78, ../scss/_header.scss */
.header-bar .rate-div .clock-icon-div {
  position: absolute;
  top: 25px;
  right: 25px;
  height: 100%;
}
/* line 84, ../scss/_header.scss */
.header-bar .rate-div .clock-icon-div .clock-icon {
  position: relative;
  height: 50px;
}
/* line 90, ../scss/_header.scss */
.header-bar .rate-div .personal-data {
  position: absolute;
  height: 100%;
}
/* line 94, ../scss/_header.scss */
.header-bar .rate-div .personal-data .pesonal-data__svg {
  right: 0;
}
/* line 97, ../scss/_header.scss */
.header-bar .rate-div .personal-data .pesonal-data__circle {
  fill: #FFFFFF;
  stroke-width: 10px;
}
/* line 101, ../scss/_header.scss */
.header-bar .rate-div .personal-data .pesonal-data__number {
  color: black;
  text-align: center;
  font-size: 15px;
}
/* line 108, ../scss/_header.scss */
.header-bar .rate-div .win-rate {
  right: 80px;
}
/* line 111, ../scss/_header.scss */
.header-bar .rate-div .win-rate .win-rate__circle {
  stroke: #8cc828;
}
/* line 114, ../scss/_header.scss */
.header-bar .rate-div .win-rate .win-rate__text {
  font-size: 75%;
}
/* line 117, ../scss/_header.scss */
.header-bar .rate-div .win-rate .win-rate__number {
  top: 33%;
  left: 25%;
}
/* line 123, ../scss/_header.scss */
.header-bar .rate-div .finish-rate {
  right: 150px;
}
/* line 126, ../scss/_header.scss */
.header-bar .rate-div .finish-rate .finish-rate__circle {
  stroke: #ff7314;
}
/* line 129, ../scss/_header.scss */
.header-bar .rate-div .finish-rate .finish-rate__text {
  font-size: 65%;
  color: red;
  text-align: center;
}
/* line 134, ../scss/_header.scss */
.header-bar .rate-div .finish-rate .finish-rate__number {
  top: 25%;
  left: 30%;
}

/* end of header bar */
/* right sidebar */
/* line 5, ../scss/_right_sidebar.scss */
.right-sidebar {
  position: fixed;
  top: 112px;
  right: 0;
  z-index: 1;
  height: 84%;
  width: 100px;
  transition-duration: 1s;
}
/* line 14, ../scss/_right_sidebar.scss */
.right-sidebar .right-sidebar-item {
  position: relative;
  height: 16.7%;
  width: 100%;
  border-color: #FFFFFF;
}
/* line 20, ../scss/_right_sidebar.scss */
.right-sidebar .right-sidebar-item .right-sidebar-item__icon {
  height: 100%;
  width: 55%;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
/* line 30, ../scss/_right_sidebar.scss */
.right-sidebar .color-sidebar1 {
  background-color: #fffc79;
}
/* line 33, ../scss/_right_sidebar.scss */
.right-sidebar .color-sidebar1 .playground-icon {
  background-image: url("../images/playground_icon.png");
}
/* line 38, ../scss/_right_sidebar.scss */
.right-sidebar .color-sidebar2 {
  background-color: #FFD479;
}
/* line 41, ../scss/_right_sidebar.scss */
.right-sidebar .color-sidebar2 .profile-icon {
  background-image: url("../images/profile_icon.png");
}
/* line 46, ../scss/_right_sidebar.scss */
.right-sidebar .color-sidebar3 {
  background-color: #FF7E79;
}
/* line 49, ../scss/_right_sidebar.scss */
.right-sidebar .color-sidebar3 .start-ludo-icon {
  background-image: url("../images/start_ludo_icon.png");
}
/* line 54, ../scss/_right_sidebar.scss */
.right-sidebar .color-sidebar4 {
  background-color: #D783FF;
}
/* line 57, ../scss/_right_sidebar.scss */
.right-sidebar .color-sidebar4 .freinds-icon {
  width: 90%;
  background-image: url("../images/ludo_friends_icon.png");
}
/* line 63, ../scss/_right_sidebar.scss */
.right-sidebar .color-sidebar5 {
  background-color: #76D6FF;
}
/* line 66, ../scss/_right_sidebar.scss */
.right-sidebar .color-sidebar5 .ludo-sports-icon {
  width: 65%;
  background-image: url("../images/ludo_sports_icon.png");
}
/* line 72, ../scss/_right_sidebar.scss */
.right-sidebar .color-sidebar6 {
  background-color: #73FA79;
}
/* line 75, ../scss/_right_sidebar.scss */
.right-sidebar .color-sidebar6 .ludo-read-icon {
  background-image: url("../images/ludo_read_icon.png");
}

/* end of right nav bar */
/* start of auto_start button */
/* line 7, ../scss/_auto_start.scss */
.auto-start {
  position: fixed;
  right: 100px;
  bottom: 0;
  width: 230px;
  height: 70px;
  border-radius: 5px;
  background-color: white;
  z-index: 1;
}
/* line 17, ../scss/_auto_start.scss */
.auto-start .auto-start-icon {
  position: absolute;
  top: 12px;
  left: 45px;
  width: 100%;
  height: 100%;
  background-image: url("../images/auto_start_icon.png");
  background-repeat: no-repeat;
  background-size: 20%;
}
/* line 28, ../scss/_auto_start.scss */
.auto-start .auto-start-text {
  position: absolute;
  top: 9px;
  right: 45px;
}
/* line 33, ../scss/_auto_start.scss */
.auto-start .auto-start-searchbar {
  position: absolute;
  top: 32px;
  right: 40px;
  z-index: 2;
  width: 92px;
  background-color: #f0f0f0;
}

/* end of auto_start button */
/* line 12, ../scss/index.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 33, ../scss/index.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 37, ../scss/index.scss */
body {
  line-height: 1;
}

/* line 40, ../scss/index.scss */
ol, ul {
  list-style: none;
}

/* line 43, ../scss/index.scss */
blockquote, q {
  quotes: none;
}

/* line 46, ../scss/index.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 51, ../scss/index.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 56, ../scss/index.scss */
body {
  background-color: #e8ebed;
  font-family: arial;
}

/* main */
/* line 62, ../scss/index.scss */
.main {
  z-index: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 112px;
  padding-top: 4px;
}
/* line 70, ../scss/index.scss */
.main .main-content {
  position: relative;
  height: 100%;
}
/* line 74, ../scss/index.scss */
.main .main-content .column {
  position: relative;
  width: 230px;
}
/* line 79, ../scss/index.scss */
.main .main-content .column .post-0 {
  position: absolute;
}
/* line 79, ../scss/index.scss */
.main .main-content .column .post-1 {
  position: absolute;
}
/* line 79, ../scss/index.scss */
.main .main-content .column .post-2 {
  position: absolute;
}
/* line 79, ../scss/index.scss */
.main .main-content .column .post-3 {
  position: absolute;
}
/* line 79, ../scss/index.scss */
.main .main-content .column .post-4 {
  position: absolute;
}
/* line 79, ../scss/index.scss */
.main .main-content .column .post-5 {
  position: absolute;
}
/* line 79, ../scss/index.scss */
.main .main-content .column .post-6 {
  position: absolute;
}
/* line 79, ../scss/index.scss */
.main .main-content .column .post-7 {
  position: absolute;
}
/* line 79, ../scss/index.scss */
.main .main-content .column .post-8 {
  position: absolute;
}
/* line 79, ../scss/index.scss */
.main .main-content .column .post-9 {
  position: absolute;
}
/* line 79, ../scss/index.scss */
.main .main-content .column .post-10 {
  position: absolute;
}
/* line 79, ../scss/index.scss */
.main .main-content .column .post-11 {
  position: absolute;
}
/* line 84, ../scss/index.scss */
.main .main-content .column .card {
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  text-align: center;
}
/* line 93, ../scss/index.scss */
.main .main-content .column .card .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.3s;
}
/* line 98, ../scss/index.scss */
.main .main-content .column .card .card-message {
  position: relative;
  width: 100%;
  height: 50px;
  border-style: solid;
  border-width: 2px 0 0 0;
  border-color: #e8ebed;
}
/* line 106, ../scss/index.scss */
.main .main-content .column .card .card-message .card-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  background-position: center;
  background-color: #e8ebed;
  background-image: url("../images/ludo_read_icon.png");
  background-repeat: no-repeat;
  background-size: 60%;
  border-radius: 50%;
}
/* line 120, ../scss/index.scss */
.main .main-content .column .card .card-message .card-door {
  position: absolute;
  top: 15px;
  left: 33px;
  width: 30px;
  height: 30px;
  background-position: center;
  background-image: url("../images/open-door.png");
  background-repeat: no-repeat;
  background-size: 50%;
  border-radius: 50%;
}
/* line 133, ../scss/index.scss */
.main .main-content .column .card .card-message .card-pin {
  position: absolute;
  top: 15px;
  right: 0;
  width: 30px;
  height: 30px;
  background-position: center;
  background-image: url("../images/log-out.png");
  background-repeat: no-repeat;
  background-size: 50%;
  border-radius: 50%;
}

/* end of main */
