
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background-color: #E8EBED;
}

/* top nav bar */
.top-nav {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 16%;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(182,188,193);
    background-color: #FFFFFF;
}

.logo-div {
    float: left;
    height: 100%;
    width: 50%;
}
    .Ludo-logo-div {
        position: relative;
        float: left;
        height: 100%;
        width: 55%;
        z-index: 2;
        padding: 2%;
        padding-left: 2.5%;
    }
    .Ludo-logo {
        height: 100%;
        z-index: 2;
    }
    .Ludo-logo-text {
        font-size: 250%;
        font-family: arial;
        color: #000000;
    }

    .schematic-icon-div {
        position: relative;
        float: left;
        height: 100%;
        z-index: 2;
    }
        .schematic-icon {
            height: 75%;
            border-style: solid;
            border-width: 1px;
            border-color: #D8DDE4;
            border-radius: 50%;
            background-color: #FFFC79;
            background-image: url('../images/playground_icon.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }

.rate-div {
    position: relative;
    float: right;
    height: 100%;
    width: 50%;
}

.win-rate {
    float: right;
    height: 100%;
}
    .win-rate__number {
        z-index: 3;
        top: 33%;
        left: 25%;
        color: black;
        text-align: center;
        font-size:15px;
    }
    .win-rate__svg {
        z-index: 2;
        right: 0;
    }
    .win-rate__circle {
        z-index: 2;
        fill: #FFFFFF;
        stroke: #000000;
        stroke-width: 4px;
    }

.finish-rate {
    float: right;
    height: 100%;
    margin-right: 2%;
}
    .finish-rate__number {
        z-index: 3;
        top: 25%;
        left: 30%;
        color: black;
        text-align: center;
        font-size: 15px;
    }
    .finish-rate__svg {
        z-index: 2;
        right: 0;
    }
    .finish-rate__circle {
        z-index: 2;
        fill: #FFFFFF;
        stroke: #000000;
        stroke-width: 4px;
    }

.clock-icon-div{
    float: right;
    height: 100%;
    padding: 2%;
}
    .clock-icon {
        height: 100%;
    }

/* end of top nav bar */





/* right sidebar */
.right-sidebar {
    position: fixed;
    top: 16%;
    right: 0;
    z-index: 1;
    height: 84%;
    width: 10%;
    transition-duration: 1s;
}

.right-sidebar-element {
    position: relative;
    height: 16.7%;
    width: 100%;
    border-color: #FFFFFF;
}
    .right-sidebar-element img {
        width: 100%;
    }

.color-sidebar1 {
    width: 100%;
    height: 100%;
    padding: 6%;
    background-color: #FFFC79;
}
    .playground-icon {
        height: 100%;
        width: 100%;
        background-image: url('../images/playground_icon.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

.color-sidebar2 {
    width: 100%;
    height: 100%;
    padding: 6%;
    background-color: #FFD479;
}
    .profile-icon {
        height: 100%;
        width: 100%;
        background-image: url('../images/profile_icon.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

.color-sidebar3 {
    width: 100%;
    height: 100%;
    padding: 6%;
    background-color: #FF7E79;
}
    .start-ludo-icon {
        height: 100%;
        width: 100%;
        background-image: url('../images/start_ludo_icon.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

.color-sidebar4 {
    width: 100%;
    height: 100%;
    padding: 6%;
    background-color: #D783FF;
}
    .freinds-icon {
        height: 100%;
        width: 100%;
        background-image: url('../images/ludo_friends_icon.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

.color-sidebar5 {
    width: 100%;
    height: 100%;
    padding: 6%;
    background-color: #76D6FF;
}
    .ludo-sports-icon {
        height: 100%;
        width: 100%;
        background-image: url('../images/ludo_sports_icon.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

.color-sidebar6 {
    width: 100%;
    height: 100%;
    padding: 6%;
    background-color: #73FA79;
}
    .ludo-read-icon {
        height: 100%;
        width: 100%;
        background-image: url('../images/ludo_read_icon.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

/* end of right nav bar */




/* main content */
.main {
    z-index: 0;
    position: absolute;
    top: 16%;
    width: 90%;
    margin-top: 1.5%;
    padding-right: 2%;
    padding-left: 2%;
}

.column {
    float: left;
    display: inline-flex;
    width: 25%;
}

.column1,
.column2,
.column3,
.column4 {
    position: absolute;
}

.card {
    position: relative;
    width: 100%;
    margin: 1% 3%;
    background-color: #FFFFFF;
          box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.3);
     -moz-box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.3);
    border-radius: 8px;
    text-align: center;
}
    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        transition: 0.3s;
    }
    .card-content {
        position: relative;
    }
    .card-icon-div {
        position: relative;
        padding-top: 1%;
        border-style: solid;
        border-width: 3px 0 0 0;
        border-color:#e8ebed;
    }
    .card-icon {
        position: relative;
        left: 3%;
        width: 20%;
    }
        .card-icon img {
            width: 100%;
            border-radius: 50%;
        }

/* end of main content */
