* {
    margin: 0;
    padding: 0;
    list-style: none;
}


/* top nav bar */
.top-nav {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 87px;
    background-color: #36ABCB;
}

.top-menu-element {
    position: fixed;
    z-index: 2;
    height: 87px;
    max-width: 80px;
}

.Ludo-logo {
    height: 100%;
    width: 100%;
    max-width: 100%;
    padding: 5%;
}

.schematics {
    left: 18%;
    margin-top: 1.5%;
}

.win-rate {
    right: 15.5%;
}
    .win-rate__number {
        z-index: 3;
        top: 25%;
        left: 25%;
        color: black;
        text-align: center;
    }
    .win-rate__svg {
        z-index: 2;
        right: 0;
    }
    .win-rate__circle {
        z-index: 2;
        fill: #36ABCB;
        stroke: #FF9F1E;
        stroke-width: 7px;
    }

.finish-rate {
    right: 7%;
}
    .finish-rate__number {
        z-index: 3;
        top: 25%;
        left: 30%;
        color: black;
        text-align: center;
    }
    .finish-rate__svg {
        z-index: 2;
        right: 0;
    }
    .finish-rate__circle {
        z-index: 2;
        fill: #36ABCB;
        stroke: #FF9F1E;
        stroke-width: 7px;
    }
/* end of top nav bar */




/* right sidebar */
.right-sidebar {
    position: fixed;
    top: 87px;
    right: 0;
    z-index: 0;
    height: 100%;
    width: 6%;
    background-color: #3B3B3B;
}

.right-menu-element {
    position: fixed;
    right: 0;
    max-width: 6%;
    z-index: 2;
    height: 87px;
    width: 100%;
}

.profile-img {
    padding: 5%;
    height: 87px;
    max-width: 100%;
    border-radius: 50%;
    //background-color: #F2B701;
}

.ludoing-icon-div {
    position: absolute;
    right: 0;
    top: 87px;
    width: 100%;
    padding-top: 10%;
    padding-left: 10%;
}
    i.ludoing {
        margin: 0;
        padding: 0;
    }

.following-icon-div {
    position: absolute;
    right: 0;
    top: 160px;
    width: 100%;
    padding-top: 10%;
    padding-left: 10%;
}
    i.following {
        margin: 0;
        padding: 0;
    }
/* end of right nav bar */