/* header bar */
$header_bar_height: 112px;
$Ludo_logo_height: 63px;
$win_rate_color: rgb(140, 200, 40);
$finish_rate_color: rgb(255, 115, 20);

.header-bar {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: $header_bar_height;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(182,188,193);
    background-color: #FFFFFF;

    .logo-div {
        position: relative;
        display: inline-block;
        height: 100%;
    
        .Ludo-logo-div {
            position: absolute;
            display: inline-block;
            width: 200px;
            height: 100%;
            padding: 18px 0px 18px 14px;
        
            .Ludo-logo {
                height: $Ludo_logo_height;
                z-index: 2;
            }
            .Ludo-logo-text {
                font-size: 130%;
                font-weight: 500;
                font-family: arial;
                color: #000000;
            }
        }

        .schematic-icon-div {
            position: relative;
            display: inline-block;
            left: 200px;
            height: 100%;
            width: 65px;
            padding: 20px 0px 35px 0px;
        
            .schematic-icon-text {
                font-size: 60%;
            }
            .schematic-icon {
                height: 40px;
                width: 40px;
                margin: 0 auto;
                border-style: solid;
                border-width: 1px;
                border-color: #D8DDE4;
                border-radius: 50%;
                background-color: #FFFC79;
                background-image: url('../images/playground_icon.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }

    .rate-div {
        position: relative;
        display: inline-block;
        right: 0;
        float: right;
        height: 100%;
        width: 50%;

        .clock-icon-div {
            position: absolute;
            top: 25px;
            right: 25px;
            height: 100%;

            .clock-icon {
                position: relative;
                height: 50px;
            }
        }

        .personal-data {
            position: absolute;
            height: 100%;

            .pesonal-data__svg {
                right: 0;
            }
            .pesonal-data__circle {
                fill: #FFFFFF;
                stroke-width: 10px;
            }
            .pesonal-data__number {
                color: black;
                text-align: center;
                font-size: 15px;
            }
        }

        .win-rate {
            right: 80px;
        
            .win-rate__circle {
                stroke: $win_rate_color;
            }
            .win-rate__text {
                font-size: 75%;
            }
            .win-rate__number {
                top: 33%;
                left: 25%;
            }
        }

        .finish-rate {
            right: 150px;
        
            .finish-rate__circle {
                stroke: $finish_rate_color;
            }
            .finish-rate__text {
                font-size: 65%;
                color: rgb(255, 0, 0);
                text-align: center;
            }
            .finish-rate__number {
                top: 25%;
                left: 30%;
            }
        }
    }
}
/* end of header bar */