/* right sidebar */
$right_sidebar_width: 100px;

.right-sidebar {
    position: fixed;
    top: 16%;
    right: 0;
    z-index: 1;
    height: 84%;
    width: $right_sidebar_width;
    transition-duration: 1s;

    .right-sidebar-item {
        position: relative;
        height: 16.7%;
        width: 100%;
        border-color: #FFFFFF;

        .right-sidebar-item__icon {
            height: 100%;
            width: 55%;
            margin:0 auto;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
        
    .color-sidebar1 {
        background-color: rgb(255, 252, 121);

        .playground-icon {
            background-image: url('../images/playground_icon.png');
        }
    }

    .color-sidebar2 {
        background-color: #FFD479;

        .profile-icon {
            background-image: url('../images/profile_icon.png');
        }
    }

    .color-sidebar3 {
        background-color: #FF7E79;

        .start-ludo-icon {
            background-image: url('../images/start_ludo_icon.png');
        }
    }

    .color-sidebar4 {
        background-color: #D783FF;

        .freinds-icon {
            width: 90%;
            background-image: url('../images/ludo_friends_icon.png');
        }
    }

    .color-sidebar5 {
        background-color: #76D6FF;

        .ludo-sports-icon {
            width: 65%;
            background-image: url('../images/ludo_sports_icon.png');
        }
    }

    .color-sidebar6 {
        background-color: #73FA79;

        .ludo-read-icon {
            background-image: url('../images/ludo_read_icon.png');
        }
    }

}
/* end of right nav bar */