@import "helpers/mixins";
@import "helpers/placeholders";
@import "helpers/variables";
@import "components/card";

.playground {
    @extend %relative;
    top: $header_height;
    padding-top: $main_content_top_padding;
}
    .column {
        @extend %relative;
        width: $card_width;
    }
        .quick-start {
            @extend .card;
            height: 100px;
            @include background_img_content(quick_start_icon);
            @extend %background_img_setting;
            background-size: 30%;
        }