@import "components/card";
/* 
variables 
    dimension
        $grid-item_width
    margin
        $card_margin_x
*/

$grid-item--half_width: ($grid-item_width + $card_margin_x)*2;

.grid-item--half {
    width: $grid-item--half_width;
    padding-right: 8px;
    padding-left: 8px;
}

@import "components/profileContent";
@import "components/profileLudoing";
@import "components/profileHistory";
@import "components/profileStatistic";
@import "components/profilePrize";