// depth
$right-sidebar_depth: 1;

// header
$header_height: 112px;

// right-sidebar
$right-sidebar_width: 100px;

// content
$main_content_top_padding: 14px;
$card_width: 230px;

// color
$gray: rgb(240, 240, 240);
$background-gray: rgb(232, 235, 237);