@import "helpers/placeholders";

// position
$header-clock_top: 30px;
$header-clock_right: 25px;

// dimension
$header-clock__icon_height: 50px;

.header-clock {
    @extend %absolute;
    top: $header-clock_top;
    right: $header-clock_right;
    @extend %as_tall_as_parent;
}
    .header-clock__icon {
        @extend %relative;
        height: $header-clock__icon_height;
    }