@import "helpers/placeholders";

.header-clock {
    @extend %absolute;
    right: 25px;
    @extend %as_tall_as_parent;
    display: flex;
    align-items: center;
}
    .header-clock__icon {
        @extend %relative;
        height: 70px;
    }