@import "helpers/mixins";
@import "helpers/placeholders";

// dimension
$header-schematic_width: 65px;
$header-schematic-icon_width: 40px;
$header-schematic-icon_height: 40px;

// position
$header-schematic_left: 300px;

// border
$header-schematic-icon-border_width: 1px;

// padding
$header-schematic-icon-text_padding-top: 30px;

// color
$yellow: rgba(255, 252, 121, 1);
$gray: rgba(216, 221, 228, 1);

// typography
$header-schematic-icon-text_font-size: 13px;

.header-schematic {
    @extend %relative;
    display: inline-block;
    left: $header-schematic_left;
    width: $header-schematic_width;
    @extend %as_tall_as_parent;
}
    .header-schematic__icon {
        width: $header-schematic-icon_width;
        height: $header-schematic-icon_height;
        @extend %margin_center_x;
        border-style: solid;
        border-width: $header-schematic-icon-border_width;
        border-color: $gray;
        @extend %round_border;
        background-color: $yellow;
        @extend %background_img_setting;
    }
    .header-schematic__icon-text {
        padding-top: $header-schematic-icon-text_padding-top;
        font-size: $header-schematic-icon-text_font-size;
        @extend %text_center;
    }