@import "helpers/placeholders";

@import "components/header-win-rate";
@import "components/header-finish-rate";

.header-rate {
    @extend %absolute;
    @extend %top;
    @extend %right;
    @extend %as_tall_as_parent;
}
    .header-rate__circle {
        fill: white;
        stroke-width: 10px;
    }
    .header-rate__number {
        color: black;
        @extend %text_center;
        font-size: 15px;
    }