@import "helpers/variables";
@import "helpers/placeholders";

.profile-statistic__element {
    width: 25%;
    //height: 96px;
    margin-left: 20px;
    margin-right: 20px;
    @extend %text_center;
}
    .profile-statistic__icon {
        @extend %as_wide_as_parent;
        padding-bottom: 15%;
    }