@import "helpers/mixins";
@import "helpers/placeholders";
@import "helpers/variables";
/* right sidebar */
.right-sidebar {
    @extend %fixed;
    top: $header_bar_height;
    right: 0;
    z-index: 1;
    @include dimensions($right_sidebar_width, 84%);
    transition-duration: 1s;
}
    .right-sidebar-item {
        @extend %relative;
        @extend %as_wide_as_parent;
        height: 16.7%;
        border-color: #FFFFFF;
    }
        .right-sidebar-item__icon {
            width: 55%;
            @extend %as_tall_as_parent;
            margin: 0 auto;
            @extend %background_img_setting;
            background-size: contain;
        }
    .color-sidebar1 {
        background-color: rgb(255, 252, 121);
        .playground-icon {
            @include background_img_content(playground_icon);
        }
    }
    .color-sidebar2 {
        background-color: #FFD479;
        .profile-icon {
            @include background_img_content(profile_icon);
        }
    }
    .color-sidebar3 {
        background-color: #FF7E79;
        .start-ludo-icon {
            @include background_img_content(start_ludo_icon);
        }
    }
    .color-sidebar4 {
        background-color: #D783FF;
        .freinds-icon {
            width: 90%;
            @include background_img_content(ludo_friends_icon);
        }
    }
    .color-sidebar5 {
        background-color: #76D6FF;
        .ludo-sports-icon {
            width: 65%;
            @include background_img_content(ludo_sports_icon);
        }
    }
    .color-sidebar6 {
        background-color: #73FA79;
        .ludo-read-icon {
            @include background_img_content(ludo_read_icon);
        }
    }
/* end of right nav bar */