// depth
$header_depth: 1;
$right-sidebar_depth: 1;
$header-Ludo-logo_depth: 2;

// header
$header_height: 112px; // 16%
$header-Ludo_logo_height: 63px;
$header-Ludo_logo_width: 200px;
$header-Ludo-logo-margin_y: ($header_height - 71)/2;

// right-sidebar
$right-sidebar_width: 100px;

// auto_start
$auto-start_width: 230px;
$auto-start_height: 70px;

// content
$main_content_top_padding: 14px;
$card_width: 230px;

// color
$win_rate_color: rgb(140, 200, 40);
$finish_rate_color: rgb(255, 115, 20);

$gray: rgb(240, 240, 240);
$background-gray: rgb(232, 235, 237);

$sidebar-color-1: rgb(255, 252, 121);