%fixed {
    position: fixed;
}

%absolute {
    position: absolute;
}

%relative {
    position: relative;
}

%as_wide_as_parent {
    width: 100%;
}

%as_tall_as_parent {
    height: 100%;
}

%text_center {
    text-align: center;
}

%round_border {
    border-radius: 50%;
}

%background_img_setting {
    background-position: center;
    background-repeat: no-repeat;
}

%card_background {
    background-color: white;
}