$header_bar_height: 112px; // 16%
$Ludo_logo_height: 63px;
$win_rate_color: rgb(140, 200, 40);
$finish_rate_color: rgb(255, 115, 20);

$right_sidebar_width: 100px;

$auto_start_width: 230px;
$auto_start_height: 70px;
$right_sidebar_width: 100px;
$gray: rgb(240, 240, 240);

$main_content_top_padding: 14px;
$card_width: 230px;
$background-gray: rgb(232, 235, 237);